section
  .flex.flex--center
    .col-1
      p  1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quae ut iusto cupiditate, consequuntur nobis dolorum consequatur modi ullam non vel harum facilis tenetur aliquam, veniam, tempore architecto labore soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quae ut iusto cupiditate, consequuntur nobis dolorum consequatur modi ullam non vel harum facilis tenetur aliquam, veniam, tempore architecto labore soluta!
    
    .col-1
      p  2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quae ut iusto cupiditate, consequuntur nobis dolorum consequatur modi ullam non vel harum facilis tenetur aliquam, veniam, tempore architecto labore soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quae ut iusto cupiditate, consequuntur nobis dolorum consequatur modi ullam non vel harum facilis tenetur aliquam, veniam, tempore architecto labore soluta!
      
section
  .flex.flex--space-around
    .col-1
      p  1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quae ut iusto cupiditate, consequuntur nobis dolorum consequatur modi ullam non vel harum facilis tenetur aliquam, veniam, tempore architecto labore soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quae ut iusto cupiditate, consequuntur nobis dolorum consequatur modi ullam non vel harum facilis tenetur aliquam, veniam, tempore architecto labore soluta!
    
    .col-1.order-first
      p  2 CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quae ut iusto cupiditate, consequuntur nobis dolorum consequatur modi ullam non vel harum facilis tenetur aliquam, veniam, tempore architecto labore soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quae ut iusto cupiditate, consequuntur nobis dolorum consequatur modi ullam non vel harum facilis tenetur aliquam, veniam, tempore architecto labore soluta!

section
  .flex.flex--center
    .col-2
      p  1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quae ut iusto cupiditate, consequuntur nobis dolorum consequatur modi ullam non vel harum facilis tenetur aliquam, veniam, tempore architecto labore soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quae ut iusto cupiditate, consequuntur nobis dolorum consequatur modi ullam non vel harum facilis tenetur aliquam, veniam, tempore architecto labore soluta!
    
section
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam illum dolore harum perferendis in unde eveniet, culpa esse magni accusamus nihil hic, totam debitis eos velit dicta delectus maxime molestiae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit, enim saepe iure eveniet debitis aperiam animi ut, quaerat voluptas labore minima fuga. Esse dignissimos minima vero quas. Minus, magnam.
    .col-50
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error illum dicta laudantium obcaecati fugit earum, necessitatibus, hic ad, distinctio aspernatur mollitia natus possimus veniam recusandae iusto officia magni quod vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus provident similique nesciunt facere? Voluptatibus nisi, dolorum eligendi ipsum porro aperiam sed sequi nostrum sapiente, nemo explicabo repellendus? Neque, voluptate, vel.
